@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* root styling */

:root{
  --light-bright:#E5FCC2;
  --light:#9DE0AD;
  --dark:#594F4F;
  --primary:#45ADA8;
  --secondary:#547980;
  --border:#E9EFEE;
  --white:#ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

* > *{
  box-sizing: border-box;
}

/* global styling */
.text-white{
  color: var(--white);
}

.text-light-bright{
  color: var(--light-bright);
}

.text-light{
  color: var(--light);
}

.text-dark{
  color: var(--dark);
}

.text-primary{
  color: var(--primary);
}

.text-secondary{
  color: var(--secondary);
}

.bg-light{
  color:var(--light);
}

.bg-dark{
  color:var(--dark);
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.img-fluid{
  width: 100%;

}

.text-title{
  font-family: "DM Sans", sans-serif;
  font-weight:700;
  line-height: normal;
}

.secondary-title{
  font-family: "Poppins", sans-serif;
}

.display-1{
  font-size: 20px;
}

.display-2{
  font-size: 16px;
}

.display-3{
  font-size: 14px;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.btn{
  padding: 15px 20px;
  border: none;
}

.btn-primary{
  border-radius: 4px;
  background-color: var(--primary);
}


/* section styling */

/* ------- Navigation Menu ------- */
.navbar{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.nav-brand{
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 32px;
  align-self: center;
}

.collapse{
  align-self: center;
}

.nav-link{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 12px;
  color: var(--dark);
}

.nav-link:hover{
  color:var(--primary);
}

.search-box{
  display: inline;
  border-right: 1px solid var(--secondary);
  padding-right: 12px;
  margin-right: 10px;
}

.toggle-button{
  font-size: 21px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  margin: 8px 10px;
  display: none;
}

.toggle-button:focus{
  outline: none;
}
/* ------- .Navigation Menu ------- */

/* ------- Main Section ------- */

#site-main{
  margin-top: 8em;
}

#posts{
  margin-bottom: 5em;
}

.grid{
  margin: 0 auto;
}

.grid .grid-item{
  width: calc(33.3333% - 20px);
  margin-bottom: 3em;
}

/* ------- .Main Section ------- */

/* ------- Swipe Section ------- */
.swiper{
  width: 100%;
  margin: 0 auto;
}
/* ------- .Swipe Section ------- */

/* Media Query */

@media (max-width: 1100px){
  .navbar{
    flex-direction: column;
  }
  .grid .grid-item{
    width: calc(50% - 20px);
  }
}

@media (max-width: 574px){
  .toggle-button{
    display: initial;
  }

  .collapse{
    max-height: 0;
    overflow: hidden;
    transition: all 0.8s cubic-bezier(0.96, 0.36, 0.07, 1);
  }

  .collapse .nav-link{
    display: block;
    text-align: center;
  }

  .search-box{
    border-right: none;
  }

  .collapse-toggle{
    max-height: 500px;
  }

  .grid .grid-item{
    width: calc(100% - 20px);
  }
}

header{
  background-color: var(--border);
}

footer{
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 2rem;
}